table thead tr th,
table tfoot tr th {
  padding: 0 3px;
}

table {
  border-collapse: separate;
  width: 100%;
  font-size: small;
}

table tbody tr td {
  height: 24px;
  padding-left: 3px;
  padding-right: 3px;
}

table tfoot tr,
table thead tr {
  height: 28px
}
table thead tr {
  background-color: #ececec;
}table tfoot tr {
  background-color: #cecece;
}

.back-color-orange {
  background-color: rgb(255, 225, 214)
}