
.width-50 {
  width: 50px;
}

.width-100 {
  width: 100px;
}

.collapse-none {
  border-collapse: collapse;
}

.bg-gray-50 {
  background-color: #f9f9f9;
}

.width-200 {
  width: 200px;
}

.width-125 {
  width: 125px;
}

.width-50-percent {
  width: 50%
}

.border-t-1 {
  border-top: 1px solid  rgb(102, 167, 5);
}

.border-b-1 {
  border-bottom: 1px solid  rgb(102, 167, 5);
}

.padding-left-6 {
  padding-left: 6px;
}

.padding-right-6 {
  padding-right: 6px;
}

td {
  vertical-align: middle;
}

.tr-bg-green{
  background-color: rgb(244, 255, 228);
 }

.bg-white {
  background-color: #fff;
}

.border-b-gray-50 {
  border-bottom: 1px solid #ececec;
}

.border-t-gray-50{
  border-top: 1px solid #ececec;
}

.border-bottom-none {
  border-bottom: none
}

.padding-y-6 {
  padding-top: 3px;
  padding-bottom: 3px;
}


.table-caption {
  font-size: calc(100% + 4px);
  color: indigo
}

.text-no-wrap {
  white-space: nowrap;
}

.table-small {
  font-size: 85%;
  border: 1px solid #ececec;
}
.table-small td {
  border-left: 1px solid #ececec;
}

.tr-hover:hover {
  background-color: rgb(102, 167, 5);
}


.padding-x-6 {
  padding-left: 3px;
  padding-right: 3px;
}

.text-white {
  color: #fff;
}
.bg-orange-600 {
  background-color: orangered;
}

.bg-purple-700 {
  background-color: rebeccapurple;
}

.bg-indigo-700 {
  background-color: rgb(0, 111, 130);
}
a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.tr-hover:hover {
  color: #fff;
}


.tr-hover:hover a {
  color: #fff;
}

.width-100-percent {
  width: 100%;
}

.text-left {
  text-align: left;
}

.width-80 {
  width: 80px;
}

.bg-green {
  background-color: rgb(102, 167, 5);
}

.bg-orange-600 {
  background-color: orangered;
}

.back-green-600 {
  background-color: green;
}