
.width-50 {
  width: 50px;
}

.width-100 {
  width: 100px;
}

.collapse-none {
  border-collapse: collapse;
}

.bg-gray-50 {
  background-color: #f9f9f9;
}

.width-200 {
  width: 200px;
}

.width-125 {
  width: 125px;
}

.width-50-percent {
  width: 50%
}

.border-t-1 {
  border-top: 1px solid  rgb(102, 167, 5);
}

.border-b-1 {
  border-bottom: 1px solid  rgb(102, 167, 5);
}

.padding-left-6 {
  padding-left: 6px;
}

.padding-right-6 {
  padding-right: 6px;
}

td {
  vertical-align: top;
}

.tr-bg-green{
  background-color: rgb(244, 255, 228);
 }

.bg-white {
  background-color: #fff;
}

.border-b-gray-50 {
  border-bottom: 1px solid #ececec;
}

.border-t-gray-50{
  border-top: 1px solid #ececec;
}

.border-bottom-none {
  border-bottom: none
}