.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.font-bold {
  font-weight: 700;
}

.font-italic {
  font-style: italic;
}
.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.green-200 {
  background-color: rgb(245, 255, 230);
  border-radius: 6px;
  border: 2px solid rgb(102, 167, 5);
}

.back-green-200 {
  background-color: rgb(245, 255, 230);
}

.back-green-700 {
  background-color: rgb(102, 167, 5);
}

.table-100 {
  width: 100%;
}

.text-white {
  color: #fff
}

/* top right */
.padding-12 {
  padding: 3px 12px;
}

.text-decoration-none {
  text-decoration: none;
}

.text-decoration-none:hover {
  text-decoration: underline;
}

.div-h1 {
  font-size: calc(100% + 16px);
  color: indigo
}

.div-h2 {
  font-size: calc(100% + 2px);
  color: indigo
}

.h2-orange {
  font-size: calc(100% + 2px);
  color: orangered
}

.footer-copy {
  font-size: x-small;
}

.font-title {
  font-size: calc(100% + 4px);
}

.width-100px {
  width: 100px;
}

.width-200 {
  width: 200px;
}

.width-150 {
  width: 150px;
}

.color-green {
  color: green;
}


.width-50 {
  width: 50px;
}

.width-100 {
  width: 100px;
}

.collapse-none {
  border-collapse: collapse;
}

.bg-gray-50 {
  background-color: #f9f9f9;
}

.width-200 {
  width: 200px;
}

.width-125 {
  width: 125px;
}

.width-50-percent {
  width: 50%
}

.border-t-1 {
  border-top: 1px solid  rgb(102, 167, 5);
}

.border-b-1 {
  border-bottom: 1px solid  rgb(102, 167, 5);
}

.padding-left-6 {
  padding-left: 6px;
}

.padding-right-6 {
  padding-right: 6px;
}

td {
  vertical-align: middle;
}

.bg-green-50 {
  background-color: rgb(244, 255, 228);
 }

.bg-white {
  background-color: #fff;
}

.border-b-gray-50 {
  border-bottom: 1px solid #ececec;
}

.border-t-gray-50{
  border-top: 1px solid #ececec;
}

.border-bottom-none {
  border-bottom: none
}

.padding-y-6 {
  padding-top: 3px;
  padding-bottom: 3px;
}


.table-caption {
  font-size: calc(100% + 4px);
  color: indigo
}

.text-no-wrap {
  white-space: nowrap;
}

.table-small2 {
  font-size: 0.85rem;
}


.table-small td {
  border-left: 1px solid #ececec;
}

.padding-x-6 {
  padding-left: 3px;
  padding-right: 3px;
}

.text-white {
  color: #fff;
}
.bg-orange-600 {
  background-color: orangered;
}

.bg-purple-700 {
  background-color: rebeccapurple;
}

.bg-indigo-700 {
  background-color: rgb(0, 111, 130);
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.width-100-percent {
  width: 100%;
}

.text-left {
  text-align: left;
}

.width-80 {
  width: 80px;
}

.width-50 {
  width: 50px;
}

.width-100 {
  width: 100px;
}

.collapse-none {
  border-collapse: collapse;
}

.bg-gray-50 {
  background-color: #f9f9f9;
}

.width-200 {
  width: 200px;
}

.width-125 {
  width: 125px;
}

.width-50-percent {
  width: 50%
}

.border-t-1 {
  border-top: 1px solid  rgb(102, 167, 5);
}

.border-b-1 {
  border-bottom: 1px solid  rgb(102, 167, 5);
}

.padding-left-6 {
  padding-left: 6px;
}

.padding-right-6 {
  padding-right: 6px;
}

td {
  vertical-align: middle;
}

.bg-white {
  background-color: #fff;
}

.bg-green-50{
  background-color: rgb(244, 255, 228);
 }

 .bg-white {
  background-color: #fff;
}

.bg-hover:hover {
  color: #fff;
  background-color: rgb(102, 167, 5) !important;
}


.bg-hover:hover .spectrum-Link--primary,
.bg-hover:hover a {
  color:#fff !important;
}

.border-b-gray-50 {
  border-bottom: 1px solid #ececec;
}

.border-t-gray-50{
  border-top: 1px solid #ececec;
}

.border-bottom-none {
  border-bottom: none
}

.padding-y-6 {
  padding-top: 3px;
  padding-bottom: 3px;
}


.table-caption {
  font-size: calc(100% + 4px);
  color: indigo
}

.text-no-wrap {
  white-space: nowrap;
}

.table-small {
  font-size: 0.9rem;
  border: none;
}

/* table green */

/* 
.table-small thead tr th {
  border-left: solid 1px #7dc215;
} */

.table-small thead tr th {
  border-left: solid 1px #ececec;
}

.table-small thead tr th:first-child {
  border-left: none;
}



.table-small tbody tr td:last-child {
  border-right: solid 1px rgb(102, 167, 5);
}

/* body */
.table-small tbody tr:nth-child(even) {
  background-color:  #f2f5ec;
}

.table-small tbody tr td:first-child {
  border-left: solid 1px rgb(102, 167, 5);
}

.table-small tbody tr {
  border-bottom: solid 1px #ececec;
}

.table-small tbody tr:last-child {
  border-bottom: none; /*solid 1px rgb(102, 167, 5); */
}

.table-small thead tr {
  border: solid 1px #66a705;
}



.table-small tfoot th,
.table-small tfoot td {
  border-left: solid 1px #ececec;
}

.table-small tfoot td:first-child,
.table-small tfoot th:first-child {
  border-left: solid 1px rgb(102, 167, 5);
}

.table-small tfoot tr {
  border: solid 1px rgb(102, 167, 5);
  border-top: solid 2px rgb(102, 167, 5);
  border-bottom: solid 2px rgb(102, 167, 5);
}


.padding-x-6 {
  padding-left: 3px;
  padding-right: 3px;
}

.text-white {
  color: #fff;
}

.bg-orange-600 {
  background-color: orangered;
}

.bg-purple-700 {
  background-color: rebeccapurple;
}

.bg-indigo-700 {
  background-color: rgb(0, 111, 130);
}

.width-100-percent {
  width: 100%;
}

.text-left {
  text-align: left;
}

.width-80 {
  width: 80px;
}

.bg-green-600 {
  background-color: rgb(102, 167, 5);
}

.bg-orange-600 {
  background-color: orangered;
}

.bg-green-700 {
  background-color: green;
}

.color-gray-700 {
  color: #777;
}